<div layout-fill layout-align="center center" layout="row">
  <div>
    <md-button
      ui-sref="app.login"
      class="md-raised md-accent login-button">
      Login
    </md-button>

    <md-button
      ui-sref="app.signup"
      class="md-raised md-accent login-button">
      Register
    </md-button>
  </div>
</div>
</div>
