<div layout="row" layout-align="center center" class="signup-panel" layout-fill>
  <div layout="column"
       flex-gt-sm="40"
       flex-sm="60"
       flex-xs="90"
       md-whiteframe="3">

    <md-toolbar layout-align="center center">
      <h4>Enter Profile Information</h4>
    </md-toolbar>

    <form name="finalize" layout-padding layout-margin>
      <div>
        <md-input-container class="md-icon-float md-block">
          <label>Full Name</label>
          <input ng-model="$ctrl.form.fullName" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Address</label>
          <input ng-model="$ctrl.form.address" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>City</label>
          <input ng-model="$ctrl.form.city" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>State</label>
          <input ng-model="$ctrl.form.state" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Zip</label>
          <input ng-model="$ctrl.form.zip" type="text">
        </md-input-container>
      </div>
    </form>

    <div class="form-message" ng-show="$ctrl.formMessage">{{$ctrl.formMessage}}</div>

    <md-button
      class="md-raised md-accent signup-button"
      ng-disabled="signup.$invalid"
      ng-click="$ctrl.submit()">
      Submit
    </md-button>
  </div>
</div>
