<md-menu md-offset="0 55"
         md-position-mode="target-right target"
         class="account-mini-fab {{$ctrl.class}}">

  <md-button class="md-fab md-mini"
             md-colors="{background: 'default-primary-600'}"
             aria-label="Account"
             ng-click="$ctrl.toggleMenu($mdOpenMenu, $event)">
    <md-icon md-font-icon="material-icons">{{$ctrl.icon}}</md-icon>
  </md-button>

  <!-- Drop Down Menu-->
  <md-menu-content ng-transclude="menu">
  </md-menu-content>
</md-menu>