<div layout="row" layout-align="center center" class="login-panel" layout-fill>
  <div layout="column"
       flex-gt-sm="40"
       flex-sm="60"
       flex-xs="90"
       md-whiteframe="3">

    <md-toolbar layout-align="center center">
      <h4>Password Recovery</h4>
    </md-toolbar>

    <form name="recovery" layout-padding layout-margin>
      <md-input-container class="md-icon-float md-block">
        <label>Email</label>
        <md-icon md-font-icon="material-icons">email</md-icon>
        <input ng-model="$ctrl.email" type="email" required>

      </md-input-container>
    </form>

    <div class="form-message" ng-show="$ctrl.formMessage">{{$ctrl.formMessage}}</div>

    <md-button
      class="md-raised md-accent login-button"
      ng-disabled="recovery.$invalid"
      ng-click="$ctrl.submit()">
      Recover
    </md-button>
  </div>
</div>
