<div layout="row" layout-align="center center" class="login-panel" layout-fill>
  <div layout="column"
       flex-gt-sm="40"
       flex-sm="60"
       flex-xs="90"
       md-whiteframe="3">

    <md-toolbar layout-align="center center">
      <h4>Reset Password</h4>
    </md-toolbar>

    <form name="reset" layout-padding layout-margin>
      <md-input-container class="md-icon-float md-block">
        <label>Enter Password</label>
        <md-icon md-font-icon="material-icons">lock</md-icon>
        <input ng-model="$ctrl.password" type="password" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Repeat Password</label>
        <md-icon md-font-icon="material-icons">lock</md-icon>
        <input ng-model="$ctrl.repeatPassword" type="password" required>
      </md-input-container>
    </form>

    <div>{{$ctrl.formMessage}}</div>

    <md-button
      class="md-raised md-accent login-button"
      ng-disabled="reset.$invalid"
      ng-click="$ctrl.submit()">
      Recover
    </md-button>
  </div>
</div>
