<div layout="row" layout-align="center center" class="login-panel" layout-fill>
  <div layout="column"
       flex-gt-sm="40"
       flex-sm="60"
       flex-xs="90"
       md-whiteframe="3">

    <md-progress-linear md-mode="query" ng-disabled="!$ctrl.authenticating"></md-progress-linear>

    <md-button class="md-raised md-primary linkedin-button" href="/oauth/linkedin">
      Login with linkedin
    </md-button>

    <md-divider></md-divider>

    <form name="login" layout-padding layout-margin>
      <md-input-container class="md-icon-float md-block">
        <label>Email</label>
        <md-icon md-font-icon="material-icons">person</md-icon>
        <input ng-model="$ctrl.email" type="text" ng-disabled="$ctrl.authenticating" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Password</label>
        <md-icon md-font-icon="material-icons">lock</md-icon>
        <input ng-model="$ctrl.password" type="password" ng-disabled="$ctrl.authenticating" required>
      </md-input-container>
    </form>

    <div class="form-message" ng-show="$ctrl.formMessage">{{$ctrl.formMessage}}</div>

    <button ui-sref="app.recovery" class="md-button">Reset Password</button>

    <md-button
      class="md-raised md-accent login-button"
      ng-disabled="login.$invalid || $ctrl.authenticating"
      ng-click="$ctrl.login()">
      Login
    </md-button>
  </div>
</div>
