.login-panel form md-input-container {
  margin-bottom: 0;
  margin-top: 0;
}

.login-panel form {
  padding-top: 20px;
}

.login-error-message {
  padding: 10px;
  text-align: center;
  color: red;
}