<div layout="row" layout-align="center center" layout-fill>
  <div layout="column"
       flex="60"
       layout-align="center center"
       md-whiteframe="3">

    <md-toolbar layout-align="center center">
      <h4>Profile</h4>
    </md-toolbar>

    <md-divider></md-divider>

    <md-progress-linear md-mode="query" ng-disabled="!$ctrl.authenticating"></md-progress-linear>

    <form name="profile" layout-padding layout-wrap layout="row" ng-submit="$ctrl.submit()">
        <div flex="100" layout="row" layout-wrap layout-padding>

          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Full Name</label>
            <input ng-model="$ctrl.model.fullName" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>

          <md-input-container class="md-icon-float md-block" flex="50">
            <label>Email</label>
            <input ng-model="$ctrl.model.email" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>

          <md-input-container class="md-icon-float md-block" flex="100">
            <label>Address</label>
            <input ng-model="$ctrl.model.address" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>

          <md-input-container class="md-icon-float md-block" flex>
            <label>State</label>
            <input ng-model="$ctrl.model.state" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>

          <md-input-container class="md-icon-float md-block" flex>
            <label>City</label>
            <input ng-model="$ctrl.model.city" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>

          <md-input-container class="md-icon-float md-block" flex>
            <label>Zip</label>
            <input ng-model="$ctrl.model.zipCode" type="text" ng-disabled="!$ctrl.edit">
          </md-input-container>
        </div>

      <div>{{$ctrl.formMessage}}</div>

      <md-button
          class="md-raised md-accent login-button"
          ng-disabled="profile.$invalid"
          ng-click="$ctrl.edit = !$ctrl.edit">
          Edit Profile
        </md-button>

        <md-button
          class="md-raised md-accent login-button"
          type="submit"
          ng-disabled="profile.$invalid">
          Save
        </md-button>
    </form>
  </div>
</div>
