<div layout="row" layout-align="center center" class="signup-panel" layout-fill>
  <div layout="column"
       flex-gt-sm="40"
       flex-sm="60"
       flex-xs="90"
       md-whiteframe="3">

    <md-progress-linear md-mode="query" ng-disabled="!$ctrl.authenticating"></md-progress-linear>

    <md-button class="md-raised md-primary linkedin-button" href="/oauth/linkedin">
      Sign up with linkedin
    </md-button>

    <md-divider></md-divider>

    <form name="signup" layout-padding layout-margin>
      <div>
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon md-font-icon="material-icons">person</md-icon>
          <input ng-model="$ctrl.email" type="email" ng-disabled="$ctrl.authenticating" required>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <label>Password</label>
          <md-icon md-font-icon="material-icons">lock</md-icon>
          <input ng-model="$ctrl.password" type="password" ng-disabled="$ctrl.authenticating" required>
        </md-input-container>
      </div>
    </form>

    <div class="form-message" ng-show="$ctrl.formMessage">{{$ctrl.formMessage}}</div>

    <md-button
      class="md-raised md-accent signup-button"
      ng-disabled="signup.$invalid || $ctrl.authenticating"
      ng-click="$ctrl.signup()">
      Sign up
    </md-button>
  </div>
</div>
