<md-toolbar>
  <div class="md-toolbar-tools top-bar"
       layout="row"
       layout-align="end center"
       md-whiteframe="1">

    <!--- Member Menu --->
    <div ng-show="$ctrl.isMember" layout="row" layout-align="center center">
      <menu-fab icon="person">
        <drop-menu>
          <md-menu-item>
            <md-button aria-label="LogOut" ui-sref="app.user.profile">
              <md-icon md-font-icon="material-icons">settings</md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="LogOut" ng-click="$ctrl.logout()">
              <md-icon md-font-icon="material-icons">power_settings_new</md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </drop-menu>
      </menu-fab>
    </div>
  </div>
</md-toolbar>

